
            h1{
                background-color:#727171;
            }

        *{
            background-color: #ffffff;
        }

        h2{
            border: #ff3311;;
        }
        
.header{
    background-color: #00ffff;
    display: flex;
    justify-content: space-between;
}

.grid{
    display: flex;
    justify-content: space-between;
}

.item{
    border: 5px solid #000000;
    border-radius: 16px;
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color: #000000;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 200;
    color: #ffffff;
    font-family: fantasy;
}

.menu a{
    padding-left: 10px;
    padding-right: 10px;
}

.menu{
    margin-right: 50px;
}

.menu{
    position: relative;
}

.header,h1{
    margin-left: 30px;
}
